[submodule "amp"]
	path = amp
	url = https://github.com/amphp/amp
[submodule "promise"]
	path = promise
	url = https://github.com/reactphp/promise
[submodule "parallel"]
	path = parallel
	url = https://github.com/amphp/parallel
